.breadcrumbs {
  @include flex-v-center;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 22px;

      &::after {
        content: "/";
        position: absolute;
        right: -14px;
        top: 1px;
        color: #9a9ca5;
      }
    }
  }

  &__link {
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);

    &:not([href]) {
      color: #9a9ca5;
    }
  }
}
