.learn-more {
  @include flex-all-center;

  &__subtitle {
    margin: 0;
    margin-right: 40px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: var(--color-ebony);

    @include minitablet {
      margin-right: 10px;
      max-width: 50%;
      line-height: 40px;
    }

    @include mobile {
      margin-right: 0;
      margin-bottom: 10px;
      max-width: none;
    }
  }

  @include mobile {
    display: block;
  }
}
