.mission {
  background-color: var(--color-light);

  &__list {
    --mission-gap: 94px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 27px;
    gap: calc(var(--mission-gap) * 2);

    @include tablet {
      --mission-gap: 30px;
    }

    @include minitablet {
      --mission-gap: 10px;
    }

    @include mobile {
      display: block;
    }
  }

  &__item {
    position: relative;
    padding-top: 71px;
    text-align: center;
    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: calc(-1 * var(--mission-gap));
        top: 0;
        width: 1px;
        height: 100%;
        background-image: url("../img/divider.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    &--quality {
      background-image: url("../img/quality.svg");
    }

    &--safety {
      background-image: url("../img/safety.svg");
    }

    &--comfort {
      background-image: url("../img/comfort.svg");
    }

    @include mobile {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-ebony);
  }

  &__descr {
    margin: 0;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-storm);
  }
}

.know-form {
  position: relative;
  top: 92px;
  border-radius: 4px;
  padding: 48px 60px;
  box-shadow: var(--main-shadow);
  background-color: var(--color-light);

  &__title {
    margin: 0;
    margin-bottom: 33px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: var(--color-ebony);
  }

  &__content {
    display: flex;
    align-items: flex-end;

    @include mobile {
      display: block;
    }
  }

  &__field {
    margin-right: 24px;
  }

  &__btn {
    padding: 11px 29px;
  }

  @include mobile {
    top: initial;
    padding: 10px 15px;
  }
}
