.nav {
  &__list {
    @include flex-v-center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
  }
}
