.page-hero {
  padding-top: 153px;
  padding-bottom: 80px;
  min-height: 600px;
  background-position: right -8px top;
  background-repeat: no-repeat;
  background-color: var(--color-athens);

  &__breadcrumbs {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    max-width: 600px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-ebony);

    &--small {
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 1px;
      text-transform: initial;
    }

    &--mb {
      margin-bottom: 60px;
    }
  }

  &__descr {
    margin: 0;
    max-width: 600px;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-storm);
  }

  &--services {
    background-image: url("../img/services-hero-bg.png");
  }

  &--services-inner {
    background-image: url("../img/services-inner-hero-bg.png");
  }

  &--work {
    background-image: url("../img/work-hero-bg.png");
  }

  &--work-inner {
    background-image: url("../img/work-inner-hero-bg.png");
    background-position: right -8px top 48px;
    background-color: var(--color-light);
  }

  &--about {
    background-image: url("../img/about-hero-bg.png");
  }

  &--positions {
    background-image: url("../img/positions-hero-bg.png");
    background-position: right -9px bottom;
  }

  &--news {
    background-image: url("../img/news-hero-bg.png");
    background-position: right -9px bottom;
  }
}
