.partners {
  padding: 80px 0;
  background-color: var(--color-athens);

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    column-gap: 102px;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 40px;
  }

  &--about {
    padding: 120px 0;
    background-color: var(--color-light);

    .partners__title {
      margin-bottom: 25px;
    }
  }
}
