.partners {
  padding: 80px 0;
  background-color: #f4f5f7;

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 102px;
  }
}
