.partners {
  padding: 80px 0;
  background-color: var(--color-athens);

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 102px;
  }
}
