.portfolio-section {
  padding: 120px 0;
  background-color: var(--color-light);

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &__slider-nav {
    transform: translateX(12px);
  }

  &__title {
    margin: 0;
    padding-bottom: 12px;
    max-width: 710px;
  }

  &__learn {
    margin-top: 80px;
  }

  &__items {
    margin: -100px;
    padding: 100px;

    .swiper-slide {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .slider-visible {
      opacity: 1;
      visibility: visible;
    }
  }
}
