.portfolio-section {
  padding: 120px 0;
  background-color: var(--color-light);

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;

    @include mobile {
      display: block;
    }
  }

  &__slider-nav {
    transform: translateX(12px);

    @include mobile {
      transform: none;
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 12px;
    max-width: 710px;

    @include tablet {
      margin-bottom: 15px;
      padding-bottom: 0;
      font-size: 40px;
      line-height: 55px;
    }

    @include mobile {
      max-width: none;
      font-size: 28px;
      line-height: 40px;
    }
  }

  &__learn {
    margin-top: 80px;
  }

  &__items {
    margin: -100px;
    padding: 100px;

    .swiper-slide {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .slider-visible {
      opacity: 1;
      visibility: visible;
    }
  }

  @include mobile {
    padding: 40px 0;
  }
}
