.recent-news {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: var(--color-light);

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    grid-template-rows: repeat(2, 255px);
    margin-bottom: 80px;
  }

  &__item {
    grid-column: 5 span;

    &:first-child {
      grid-column: 7 span;
      grid-row: 2 span;
    }
  }
}
