.recent-news {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: var(--color-light);

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    grid-template-rows: repeat(2, 255px);
    margin-bottom: 80px;

    @include tablet {
      grid-template-rows: initial;
    }
  }

  &__item {
    grid-column: 5 span;

    &:first-child {
      grid-column: 7 span;
      grid-row: 2 span;

      @include tablet {
        grid-column: 12 span;
        grid-row: auto;
      }

      @include mobile {
        grid-column: 4 span;
      }
    }

    @include tablet {
      grid-column: 12 span;
    }

    @include mobile {
      grid-column: 4 span;
    }
  }
}
