.social {
  display: flex;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__link {
    display: block;
    width: 24px;
    height: 24px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
