.team {
  padding-top: 54px;
  padding-bottom: 120px;

  &__list {
    column-gap: var(--grid-gap);
    margin-bottom: 20px;
    row-gap: 0;
  }

  &__item {
    grid-column: 3 span;
  }

  &__text {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: var(--color-ebony);

    a {
      border-bottom: 1px solid currentColor;
      color: var(--color-primary);
    }
  }

  &__link {
    display: block;
    width: 20px;
    height: 20px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--color-gray);
  }

  &__post {
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: var(--color-storm);
  }

  &__image {
    margin-bottom: 12px;
  }
}
