.video-block {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  height: 500px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(#1e212c, 0.6);
  }

  &__content {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__play {
    @include flex-all-center;

    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: var(--color-primary);
    transform: translate(-50%, -50%);

    svg {
      width: 26px;
      height: 26px;
    }
  }

  &__muted {
    @include flex-all-center;

    position: absolute;
    left: 32px;
    bottom: 32px;
    z-index: 10;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: rgba(#fff, 0.12);

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
