<section class="clients">
  <div class="container">
    <h2 class="title title--center clients__title">Our clients</h2>
    <ul class="list-reset clients__list">
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img src="img/partners/partners-1.png" alt="Logo 1" class="clients__logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img src="img/partners/partners-2.png" alt="Logo 2" class="clients__logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img src="img/partners/partners-3.png" alt="Logo 3" class="clients__logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img src="img/partners/partners-4.png" alt="Logo 4" class="clients__logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img src="img/partners/partners-5.png" alt="Logo 5" class="clients__logo">
        </a>
      </li>
      <li class="clients__item">
        <a href="#" class="clients__link">
          <img src="img/partners/partners-6.png" alt="Logo 6" class="clients__logo">
        </a>
      </li>
    </ul>
  </div>
</section>
