<section class="contacts-section">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container contacts-section__container">
    <form class="contacts-section__form contacts-form">
      <h3 class="contacts-form__title">A quick way to discuss details</h3>
      <label class="form-field form-field--gray contacts-form__field">
        <span class="form-field__caption">Name*</span>
        <input type="text" name="name" placeholder="Your name" class="form-field__input">
      </label>
      <label class="form-field form-field--gray contacts-form__field">
        <span class="form-field__caption">Phone*</span>
        <input type="tel" name="phone" placeholder="Your phone number" class="form-field__input">
      </label>
      <label class="form-field form-field--gray contacts-form__field">
        <span class="form-field__caption">Email</span>
        <input type="email" name="email" placeholder="Your working email" class="form-field__input">
      </label>
      <label class="form-field form-field--gray contacts-form__field">
        <span class="form-field__caption">Message*</span>
        <textarea name="message" placeholder="Your message" class="form-field__input form-field__input--big"></textarea>
      </label>
      <label class="custom-checkbox contacts-form__checkbox">
        <input type="checkbox" class="custom-checkbox__input">
        <span class="custom-checkbox__text">I agree to receive communications from Createx Construction Bureau.</span>
      </label>
      <div class="centered">
        <button class="contacts-form__btn btn btn--fill" type="submit">Send Request</button>
      </div>
    </form>
  </div>
</section>
