<section class="contacts-info">
  <div class="container">
    <h2 class="title title--center">Our offices</h2>
    <p class="descr descr--center">
      Give&nbsp;us a&nbsp;call, send&nbsp;us a&nbsp;note or&nbsp;visit our office. We&nbsp;can&rsquo;t wait to&nbsp;hear
      from you!
    </p>
    <ul class="list-reset contacts-info__list">
      <li class="contacts-info__item">
        <h3 class="contacts-info__subtitle">New York, USA</h3>
        <address class="contacts-info__address">8502 Preston Rd. Inglewood, New York 98380</address>
        <a href="#" class="contacts-info__link">See on the map</a>
        <div class="contacts-info__bottom">
          <div class="contacts-info__element">
            Call:
            <a href="tel:4055550128" class="contacts-info__value">(405) 555-0128</a>
          </div>
          <div class="contacts-info__element">
            Email:
            <a href="mailto:hello@createx.com" class="contacts-info__value">hello@createx.com</a>
          </div>
          <div class="contacts-info__element">
            Schedule:
            <span class="contacts-info__value">Mon - Fri 9:00 - 18:00</span>
          </div>
        </div>
      </li>
      <li class="contacts-info__item">
        <h3 class="contacts-info__subtitle">New York, USA</h3>
        <address class="contacts-info__address">8502 Preston Rd. Inglewood, New York 98380</address>
        <a href="#" class="contacts-info__link">See on the map</a>
        <div class="contacts-info__bottom">
          <div class="contacts-info__element">
            Call:
            <a href="tel:4055550128" class="contacts-info__value">(405) 555-0128</a>
          </div>
          <div class="contacts-info__element">
            Email:
            <a href="mailto:hello@createx.com" class="contacts-info__value">hello@createx.com</a>
          </div>
          <div class="contacts-info__element">
            Schedule:
            <span class="contacts-info__value">Mon - Fri 9:00 - 18:00</span>
          </div>
        </div>
      </li>
      <li class="contacts-info__item">
        <h3 class="contacts-info__subtitle">New York, USA</h3>
        <address class="contacts-info__address">8502 Preston Rd. Inglewood, New York 98380</address>
        <a href="#" class="contacts-info__link">See on the map</a>
        <div class="contacts-info__bottom">
          <div class="contacts-info__element">
            Call:
            <a href="tel:4055550128" class="contacts-info__value">(405) 555-0128</a>
          </div>
          <div class="contacts-info__element">
            Email:
            <a href="mailto:hello@createx.com" class="contacts-info__value">hello@createx.com</a>
          </div>
          <div class="contacts-info__element">
            Schedule:
            <span class="contacts-info__value">Mon - Fri 9:00 - 18:00</span>
          </div>
        </div>
      </li>
    </ul>
    <h2 class="title title--center contacts-info__soc">Find us at</h2>
    <ul class="social contacts-info__social list-reset">
      <li class="social__item">
        <a href="#" target="_blank" class="social__link" aria-label="WhatsApp">
          <svg>
            <use xlink:href="img/sprite.svg#whats"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link" aria-label="Messenger">
          <svg>
            <use xlink:href="img/sprite.svg#mess"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link" aria-label="Facebook">
          <svg>
            <use xlink:href="img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link" aria-label="Twitter">
          <svg>
            <use xlink:href="img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" target="_blank" class="social__link" aria-label="Youtube">
          <svg>
            <use xlink:href="img/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
