<footer class="footer">
  <a href="#page" data-scroll class="to-top">
    <span class="to-top__text">Go to top</span>
    <span class="to-top__icon">
      <svg>
        <use xlink:href="img/sprite.svg#to-top"></use>
      </svg>
    </span>
  </a>
  <div class="container footer__container grid">
    <div class="footer__left">
      <div class="footer__top">
        <a href="#" class="logo footer__logo">
          <img src="img/logo-footer.svg" alt="Createx Logo">
        </a>
        <ul class="social footer__social list-reset">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="WhatsApp">
              <svg>
                <use xlink:href="img/sprite.svg#whats"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Messenger">
              <svg>
                <use xlink:href="img/sprite.svg#mess"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Youtube">
              <svg>
                <use xlink:href="img/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer__descr">
        Createx Construction Bureau has been successfully operating in&nbsp;the USA construction market since 2000.
        We&nbsp;are proud to&nbsp;offer you quality construction and exemplary service. Our mission is&nbsp;to&nbsp;set
        the highest standards for construction sphere.
      </p>
    </div>
    <form action="#" class="footer-form footer__form">
      <h3 class="footer-form__title">Let’s stay in touch</h3>
      <div class="footer-form__items">
        <label class="form-field form-field--gray contacts-form__field">
          <input type="email" name="email" placeholder="Your email address" class="form-field__input">
        </label>
        <button class="footer-form__btn btn btn--fill">Subscribe</button>
      </div>
      <p class="footer-form__descr">
        *Subscribe to&nbsp;our newsletter to&nbsp;receive communications and early updates from Createx Construction
        Bureau.
      </p>
    </form>
    <address class="footer-address footer__address">
      <h3 class="footer-address__title footer-title">Head Office</h3>
      <span class="footer-address__item">
        <span class="footer-address__name">Address:</span>
        8502 Preston Rd. Inglewood, New York
      </span>
      <span class="footer-address__item">
        <span class="footer-address__name">Call:</span>
        <a href="tel:4055550128">(405) 555-0128</a>
      </span>
      <span class="footer-address__item">
        <span class="footer-address__name">Email:</span>
        <a href="mailto:hello@createx.com">hello@createx.com</a>
      </span>
    </address>
    <nav class="footer-nav footer__nav" title="secondary navigation">
      <div class="footer-nav__col">
        <h3 class="footer-nav__title footer-title">Who we are</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">About Us</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Available Positions</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Contacts</a></li>
        </ul>
      </div>
      <div class="footer-nav__col">
        <h3 class="footer-nav__title footer-title">Our Experience</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Services</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Work</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">News</a></li>
        </ul>
      </div>
    </nav>
    <small class="footer__copyright">
      &copy;&nbsp;All rights reserved. Made with <span>by Createx Studio</span>
    </small>
  </div>
</footer>
<div class="overlay"></div>
