<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="main-title main-title--home">Create<span>x</span> Construction</h1>
      <p class="main-descr main-descr--home">
        Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed.
        Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
      </p>
      <div class="hero__btns">
        <button class="btn-reset btn btn--stroke btn--stroke-light">Learn more about us</button>
        <button class="btn-reset btn btn--fill">Submit Request</button>
      </div>
    </div>
  </div>
</section>
