<section class="history">
  <div class="container">
    <div class="history__top">
      <h2 class="title history__title">
        Our history
      </h2>
      <div class="slider-nav history__slider-nav">
        <button class="btn-reset slider-nav__btn history__prev slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn history__next slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="history__content grid">
      <ul class="list-reset history-nav">
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn history-nav__btn--active">Present</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">March 2019</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">November 2018</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">July 2015</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">August 2010</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">February 2007</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">May 2004</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">October 2001</button>
        </li>
        <li class="history-nav__item">
          <button class="btn-reset history-nav__btn">June 2000</button>
        </li>
      </ul>
      <div class="history__item history-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/history-1.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada
              vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/history-1.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada
              vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/history-1.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada
              vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/history-1.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada
              vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/history-1.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada
              vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/history-1.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada
              vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/history-1.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada
              vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/history-1.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada
              vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </div>
          <div class="swiper-slide">
            <img src="img/history-1.jpg" alt="History image" class="history__image">
            <p class="history__descr">
              Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor&nbsp;in. Eu&nbsp;nec vitae,
              malesuada
              vitae egestas integer et&nbsp;morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.
              Eu&nbsp;nec vitae,
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
