<section class="portfolio-section">
  <div class="container">
    <div class="portfolio-section__top">
      <h2 class="title portfolio-section__title">
        Browse our selected projects
        and learn more about our work
      </h2>
      <div class="slider-nav portfolio-section__slider-nav">
        <button class="btn-reset slider-nav__btn portfolio-section__prev slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="btn-reset slider-nav__btn portfolio-section__next slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper portfolio-section__items swiper-no-swiping">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="portfolio-item">
            <img class="portfolio-item__image" src="img/portfolio-1.jpg" alt="Portfolio cover">
            <div class="portfolio-item__content">
              <h3 class="portfolio-item__title">Red Finger Building</h3>
              <span class="portfolio-item__descr">Business Centers</span>
              <div class="portfolio-item__btn">View Project</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio-section__learn learn-more">
      <h4 class="learn-more__subtitle">Explore all our works</h4>
      <a href="#" class="btn-reset learn-more__btn btn btn--fill">View portfolio</a>
    </div>
  </div>
</section>
