<article class="post">
  <div class="container">
    <img src="img/blog-cover.jpg" alt="Обложка поста" class="post__cover">
    <div class="post__wrapper">
      <div class="post__content">
        <h2>Vulputate vitae pellentesque scelerisque luctus consequat mattis pellentesque dui odio. Interdum aenean sit
          malesuada ornare sed gravida rhoncus, congue. Purus auctor nullam diam quis est hendrerit ac&nbsp;euismod.
        </h2>
        <p>
          At&nbsp;facilisi sapien posuere eget nunc senectus proin nullam. Tortor senectus in&nbsp;et&nbsp;sagittis,
          vitae
          diam cras dignissim. Varius adipiscing eget diam nisi. Orci, consectetur vulputate metus ornare pharetra,
          neque,
          fermentum. Vel nec rhoncus, non nunc, neque in&nbsp;massa. Feugiat leo nam nisl lacinia amet, odio.
          Mi&nbsp;varius viverra risus vel.
        </p>
        <p>
          Amet, morbi sed pharetra, elit eget mi&nbsp;potenti. Condimentum orci interdum feugiat lectus libero duis.
          Nisl
          massa, elementum varius sit. Nunc felis, porttitor aliquam urna, accumsan et&nbsp;sed. Aliquet non sed duis
          diam
          vehicula rhoncus. In&nbsp;dictum nullam tincidunt semper pellentesque purus morbi sed. Ut&nbsp;aliquet velit
          pharetra, nisi nunc, non.
        </p>
        <blockquote>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis
          fermentum
          amet, eu. Pulvinar eu&nbsp;sed purus facilisi. Vitae id&nbsp;turpis tempus ornare turpis quis non. Congue
          tortor
          in&nbsp;tot euismod vulputate etiam eros. Vel accumsan at&nbsp;elit neque, ipsum.
        </blockquote>
        <p>
          Mauris amet arcu nisl vel dictum tellus. Sed rhoncus, ut&nbsp;sed id&nbsp;ut&nbsp;erat mattis. Vitae mus
          blandit
          in&nbsp;neque amet non fringilla blandit:
        </p>
        <ul>
          <li>A&nbsp;fermentum in&nbsp;morbi pretium aliquam adipiscing donec tempus.</li>
          <li>Vulputate placerat amet pulvinar lorem nisl.</li>
          <li>Consequat feugiat habitant gravida quisque elit bibendum id&nbsp;adipiscing sed.</li>
          <li>Etiam duis lobortis in&nbsp;fames ultrices commodo nibh.</li>
        </ul>
        <p>
          Enim, vel massa odio diam. Blandit massa gravida feugiat elementum id&nbsp;nec sed leo. Nisi in&nbsp;ornare
          lectus eget. Urna, risus, consectetur volutpat lorem purus. Velit aliquet nibh vitae maecenas. Consectetur
          neque
          ut&nbsp;aliquam eros, purus enim dignissim aenean vitae. Ultrices fames augue mattis tortor est justo,
          pharetra
          nibh risus. Facilisi at&nbsp;porttitor volutpat natoque proin amet, nulla. Vivamus ut&nbsp;lobortis sagittis
          curabitur tellus convallis eget netus vitae.
        </p>
      </div>
      <div class="post__share">
        <span>Share:</span>
        <ul class="social post__social list-reset">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="LinkedIn">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      @include('post-comments.html')
      @include('post-form.html')
    </div>
  </div>
</article>
