<section class="pricing">
  <img src="img/services-pricing-decorate.png" alt="" aria-hidden="true" class="pricing__decorate">
  <div class="container">
    <h2 class="title title--center">Pricing</h2>
    <p class="descr descr--center pricing__descr">We&nbsp;offer you three categories of&nbsp;construction.</p>
    <div class="table-wrapper">
      <table class="pricing__table table">
        <caption class="visually-hidden">Tariffs table</caption>
        <thead class="table__header">
          <tr class="table__row">
            <th class="table__th">Items</th>
            <th class="table__th">
              <div class="table__heading">Basic</div>
              <div class="table__per">$20 per m2</div>
            </th>
            <th class="table__th">
              <div class="table__heading">Standard</div>
              <div class="table__per">$30 per m2</div>
            </th>
            <th class="table__th">
              <div class="table__heading">Business</div>
              <div class="table__per">$40 per m2</div>
            </th>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr class="table__row">
            <td class="table__col">Installation plan</td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Planning solutions (2-3 options)</td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Lighting plan</td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Flooring plan</td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Heating floor laying scheme</td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Air conditioner zones layout</td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__col">3D visualization of all rooms</td>
            <td class="table__col">
              <span class="table__text">simplified</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Visualization of each room (3-4 angles)</td>
            <td class="table__col">
            </td>
            <td class="table__col">
            </td>
            <td class="table__col">
              <span class="table__check">Available</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__col">Terms</td>
            <td class="table__col">
              <span class="table__text">10 days</span>
            </td>
            <td class="table__col">
              <span class="table__text">20 days</span>
            </td>
            <td class="table__col">
              <span class="table__text">30 days</span>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__col"></td>
            <td class="table__col">
              <button class="btn btn-reset btn--stroke-primary">Send request</button>
            </td>
            <td class="table__col">
              <button class="btn btn-reset btn--stroke-primary">Send request</button>
            </td>
            <td class="table__col">
              <button class="btn btn-reset btn--stroke-primary">Send request</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
