<section class="project-goal">
  <div class="container grid">
    <div class="project-goal__left">
      <h2 class="title project-goal__title">Project goal</h2>
      <p class="project-goal__descr">
        Build a&nbsp;private house 840&nbsp;sq. feet with a&nbsp;large living room, three bedrooms, two bathrooms,
        a&nbsp;terrace, a&nbsp;pool and a&nbsp;garage for two cars.
      </p>
      <p class="project-goal__descr">
        Modern design and care for each family member to&nbsp;feel as&nbsp;comfortable as&nbsp;possible in&nbsp;the new
        home.
      </p>
    </div>
    <div class="project-goal__right">
      <div class="project-info">
        <ul class="project-info__list list-reset">
          <li class="project-info__item">
            <div class="project-info__category">Location</div>
            <div class="project-info__value">2464 Royal Ln. Mesa, New Jersey</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">Client</div>
            <div class="project-info__value">Darlene Robertson</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">Architect</div>
            <div class="project-info__value">HIK Architecture</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">Size</div>
            <div class="project-info__value">840 sq. feet</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">Value</div>
            <div class="project-info__value">$2 million</div>
          </li>
          <li class="project-info__item">
            <div class="project-info__category">Compeleted</div>
            <div class="project-info__value">May 2020</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
