<section class="recent-news">
  <div class="container">
    <h2 class="title title--center recent-news__title">Recent News</h2>
    <ul class="list-reset recent-news__list grid">
      <li class="recent-news__item">
        <article class="news-article">
          <img src="img/recent-article-1.jpg" alt="article 1" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How to&nbsp;Build Climate Change-Resilient Infrastructure</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Industry News</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">June 24, 2020</time>
              <span class="article-meta__item article-meta__item--comments">4 comments</span>
            </div>
            <p class="news-article__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
              nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="recent-news__item">
        <article class="news-article news-article--small">
          <img src="img/recent-article-2.jpg" alt="article 2" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">How Construction Can Help Itself</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Innovation</a>
              <time class="article-meta__item" datetime="2020-06-24 19:00">June 12, 2020</time>
              <span class="article-meta__item article-meta__item--comments">No comments</span>
            </div>
            <p class="news-article__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
              nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
      <li class="recent-news__item">
        <article class="news-article news-article--small">
          <img src="img/recent-article-3.jpg" alt="article 3" class="news-article__image">
          <div class="news-article__text">
            <h3 class="news-article__title">
              <a href="#" class="news-article__link">Types of Flooring Materials</a>
            </h3>
            <div class="news-article__meta article-meta">
              <a href="#" class="article-meta__item">Company News</a>
              <time class="article-meta__item" datetime="2019-12-1 19:00">December 1, 2019</time>
              <span class="article-meta__item article-meta__item--comments">No comments</span>
            </div>
            <p class="news-article__descr">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis
              nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </p>
          </div>
        </article>
      </li>
    </ul>
    <div class="recent-news__learn learn-more">
      <h4 class="learn-more__subtitle">Explore all our news posts</h4>
      <a href="#" class="btn-reset learn-more__btn btn btn--fill">View all news</a>
    </div>
  </div>
</section>
