<section class="services-benefits section-offset">
  <div class="container">
    <h2 class="title title--center services-benefits__title">Our benefits</h2>
    <p class="descr descr--center services-benefits__description">
      Our mission is&nbsp;to&nbsp;set the highest standards for construction sphere.
    </p>
    <ul class="list-reset services-benefits__list grid">
      <li class="services-benefits__item services-benefits__item--terms">
        <h3 class="services-benefits__subtitle">Fixed Terms & Cost</h3>
        <p class="services-benefits__descr">
          Culpa nostrud commodo ea&nbsp;consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
        </p>
      </li>
      <li class="services-benefits__item services-benefits__item--workers">
        <h3 class="services-benefits__subtitle">Qualified Workers</h3>
        <p class="services-benefits__descr">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est&nbsp;ea.
        </p>
      </li>
      <li class="services-benefits__item services-benefits__item--control">
        <h3 class="services-benefits__subtitle">Supervision & Control</h3>
        <p class="services-benefits__descr">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea&nbsp;ad.
        </p>
      </li>
    </ul>
    <div class="centered services-benefits__centered">
      <button class="btn btn-reset btn--fill services-benefits__btn">Discuss a project</button>
    </div>
  </div>
</section>
