<section class="team">
  <div class="container">
    <h2 class="title title--center">
      Our team
    </h2>
    <p class="descr descr--center">
      People are at the heart of Createx Construction Bureau
    </p>
    <ul class="list-reset grid team__list">
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-1.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-1.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-1.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-1.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-1.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-1.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-1.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
      </li>
      <li class="team__item">
        <div class="team__top">
          <img class="team__image" src="img/team/team-1.jpg" alt="Alexandr">
          <div class="team__socials">
            <a href="#" target="_blank" class="team__link" aria-label="Linken in">
              <svg>
                <use xlink:href="img/sprite.svg#linked"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Twitter">
              <svg>
                <use xlink:href="img/sprite.svg#twitter"></use>
              </svg>
            </a>
            <a href="#" target="_blank" class="team__link" aria-label="Facebook">
              <svg>
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="team__name">Courtney Alexander</div>
        <div class="team__post">CEO, Co-Founder</div>
      </li>
    </ul>
    <div class="team__text">
      Become a part of the best team in the construction market of the USA. <a href="#">Available Positions</a>
    </div>
  </div>
</section>
