html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centered {
  width: 100%;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1260px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-ebony);

  span {
    color: var(--color-primary);
  }

  &--home {
    color: var(--color-light);
  }

  @include minitablet {
    font-size: 60px;
    line-height: 75px;
  }

  @include mobile {
    font-size: 35px;
    line-height: 45px;
  }
}

.dis-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%
}


.main-descr {
  margin: 0;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-storm);

  &--home {
    margin-bottom: 60px;
    color: var(--color-light);
  }

  @include mobile {
    font-size: 16px;
    line-height: 24px;
  }
}

.btn {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 4px;
  padding: 15px 39px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-light);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &--fill {
    background-color: var(--color-primary);

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      background-color: var(--color-active);
    }

    &:active {
      background-color: var(--color-active);
    }
  }

  &--stroke {
    &-light {
      border-color: var(--color-light);
      color: var(--color-light);
    }

    &-primary {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    &:hover {
      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }

    &:active {
      border-color: var(--color-primary);
      background-color: var(--color-active);
    }
  }
}

.title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--color-ebony);

  &--center {
    text-align: center;
  }

  @include mobile {
    font-size: 28px;
    line-height: 40px;
  }
}

.descr {
  margin: 0;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-storm);

  &--center {
    text-align: center;
  }

  @include mobile {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
  }
}

.section-offset {
  padding-top: 120px;

  @include minitablet {
    padding-top: 60px;
  }

  @include mobile {
    padding-top: 40px;
  }
}

.custom-checkbox {
  &__input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    position: relative;
    display: inline-block;
    padding-left: 27px;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
  }

  &__text::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 1px;
    display: inline-block;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    width: 16px;
    height: 16px;
    transition: background-color 0.3s ease-in-out;
  }

  &__text::after {
    content: "";
    position: absolute;
    left: -1px;
    top: 1px;
    width: 16px;
    height: 16px;
    background-image: url("../img/check.svg");
    background-position: center;
    background-size: 10px 8px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__input:checked+&__text::before {
    background-color: var(--color-primary);
  }

  &__input:checked+&__text::after {
    opacity: 1;
  }

  &__input:focus+&__text {
    outline: 3px solid var(--color-primary);
  }
}

.custom-file {
  cursor: pointer;

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    font-size: 14px;
    line-height: 170%;
    color: var(--color-gray);
    background-image: url("../img/file-icon.svg");
    background-position: left center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }

  &__input:focus + &__text {
    outline: 3px solid var(--color-primary);
  }
}

.custom-radio {
  &__input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    position: relative;
    display: inline-block;
    padding-left: 27px;
    font-size: 16px;
    line-height: 160%;
    color: var(--color-gray);
  }

  &__text::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 4px;
    display: inline-block;
    border: 1px solid #b3b7bc;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    transition: border-color 0.3s ease-in-out;
  }

  &__text::after {
    content: "";
    position: absolute;
    left: -1px;
    top: 4px;
    width: 16px;
    height: 16px;
    background-image: url("../img/check-circle.svg");
    background-position: center;
    background-size: 8px 8px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__input:checked+&__text::before {
    border-color: var(--color-primary);
  }

  &__input:checked+&__text::after {
    opacity: 1;
  }

  &__input:focus+&__text {
    outline: 3px solid var(--color-primary);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);

  @include mobile {
    grid-template-columns: repeat(4, 1fr);
  }
}

.to-top {
  position: fixed;
  right: calc((100% - 1230px) / 2);
  bottom: 80px;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &__text {
    margin-right: 16px;
    font-size: 14px;
    line-height: 150%;
    text-shadow: 3px 3px 11px rgba(150, 150, 150, 1);
    text-transform: uppercase;
    color: var(--color-light);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background: var(--color-primary);
    transition: background-color 0.3s ease-in-out;

    svg {
      width: 24px;
      height: 24px;
      object-fit: cover;
    }

    &:hover {
      background-color: var(--color-active);
    }
  }

  &--active {
    opacity: 1;
    visibility: visible;
  }

  @include middledesk {
    right: 20px;
    bottom: 20px;
  }
}

.site-modal {
  border-radius: 4px;
  padding: 48px;
  width: 486px;

  .modal__close {
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    background-image: url("../img/close-modal.svg");
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: var(--color-ebony);
  }

  &__field {
    margin-bottom: 20px;
  }

  &__btn {
    margin-top: 20px;
    width: 100%;
  }

  .choices {
    width: 100%;
  }

  .is-focused {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  .choices__inner {
    margin: 0;
    border: 1px solid #d7dadd;
    border-radius: 4px;
    padding: 0;
    height: 52px;
    background-color: var(--color-athens);
  }

  .choices__list--single .choices__placeholder {
    font-size: 16px;
    line-height: 160%;
    color: #9a9ca5;
    opacity: 1;
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0;
  }

  .choices__list--single {
    display: flex;
    align-items: center;
    padding-left: 15px;
    height: 100%;
  }

  .choices[data-type*=select-one]:after {
    right: 19px;
    margin-top: 0;
    border: none;
    width: 14px;
    height: 7px;
    background-image: url("../img/angle-down.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  .choices[data-type*=select-one].is-open:after {
    margin-top: -7px;
    transform: rotate(180deg) translateY(-50%);
  }

  .choices__list--dropdown .choices__item--selectable:after {
    display: none;
  }

  .choices__list--dropdown {
    background-color: var(--color-athens);
  }
}

.burger {
  --burger-width: 40px;
  --burger-height: 20px;
  --burger-line-height: 2px;

  position: absolute;
  right: 15px;
  top: 23px;
  z-index: 1000;
  display: none;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;

  @include tablet {
    display: block;
  }
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - var(--burger-line-height));
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.burger:focus::after {
  opacity: 1;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 500;
  background-color: rgba(#000, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  @include mobile {
    &::before {
      display: none;
    }
  }
}

.site-modal {
  @include mobile {
    padding: 20px;
    padding-top: 40px;
    width: 90%;
  }
}
