html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.centered {
  width: 100%;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1260px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-ebony);

  span {
    color: var(--color-primary);
  }

  &--home {
    color: var(--color-light);
  }
}

.main-descr {
  margin: 0;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-storm);

  &--home {
    margin-bottom: 60px;
    color: var(--color-light);
  }
}

.btn {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 4px;
  padding: 15px 39px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--color-light);

  &--fill {
    background-color: var(--color-primary);
  }

  &--stroke {
    &-light {
      border-color: var(--color-light);
      color: var(--color-light);
    }

    &-primary {
      border-color: var(--color-primary);
      color: var(--color-primary);
    }
  }
}

.title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--color-ebony);

  &--center {
    text-align: center;
  }
}

.descr {
  margin: 0;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-storm);

  &--center {
    text-align: center;
  }
}

.section-offset {
  padding-top: 120px;
}

.custom-checkbox {
  &__input {
    position: absolute;
    opacity: 0;
  }

  &__text {
    position: relative;
    display: inline-block;
    padding-left: 27px;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
  }

  &__text::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 1px;
    display: inline-block;
    border: 1px solid var(--color-primary);
    border-radius: 3px;
    width: 16px;
    height: 16px;
    transition: background-color 0.3s ease-in-out;
  }

  &__text::after {
    content: "";
    position: absolute;
    left: -1px;
    top: 1px;
    width: 16px;
    height: 16px;
    background-image: url("../img/check.svg");
    background-position: center;
    background-size: 10px 8px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &__input:checked + &__text::before {
    background-color: var(--color-primary);
  }

  &__input:checked + &__text::after {
    opacity: 1;
  }

  &__input:focus + &__text {
    outline: 3px solid var(--color-primary);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}
