// colors
:root {
  --color-black: #000;
  --color-light: #fff;
  --color-gray: #424551;
  --color-storm: #787a80;
  --color-ebony: #1e212c;
  --color-primary: #ff5a30;

  // sizes
  --grid-gap: 30px;
}
