// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// компоненты страницы
@import "./components/slider-nav";
@import "./components/form-field";
@import "./components/social";

// подключения компонентов страницы (большие компоненты)
@import "./components/header";
@import "./components/hero";
@import "./components/about-section";
@import "./components/mission";
@import "./components/services-section";
@import "./components/portfolio-section";
@import "./components/partners";
@import "./components/testimonials";
@import "./components/facts";
@import "./components/recent-news";
@import "./components/contacts-section";
@import "./components/footer";
@import "./components/page-hero";
@import "./components/services-content";
@import "./components/we-offer";
@import "./components/how-we-do";
@import "./components/services-benefits";
@import "./components/related-projects";
@import "./components/pricing";
@import "./components/portfolio";
@import "./components/clients";
@import "./components/project-goal";
@import "./components/desicions";
@import "./components/achieve";
@import "./components/about-mission";
@import "./components/history";
@import "./components/team";
@import "./components/worldwide";
@import "./components/positions-content";
@import "./components/employee-benefits";
@import "./components/categories";
@import "./components/post";
@import "./components/post-comments";
@import "./components/post-form";
@import "./components/contacts";
@import "./components/contacts-info";

// подключения компонентов страницы (маленькие компоненты)
@import "./components/nav";
@import "./components/header-contacts";
@import "./components/video-block";
@import "./components/breadcrumbs";
@import "./components/learn-more";
@import "./components/portfolio-item";
@import "./components/work-images";
@import "./components/news-article";
@import "./components/comment";
