// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// компоненты страницы
@import "./components/slider-nav";

// подключения компонентов страницы (большие компоненты)
@import "./components/header";
@import "./components/hero";
@import "./components/about-section";
@import "./components/mission";
@import "./components/services-section";
@import "./components/portfolio-section";
@import "./components/partners";
@import "./components/testimonials";

// подключения компонентов страницы (маленькие компоненты)
@import "./components/nav";
@import "./components/header-contacts";
@import "./components/video-block";
@import "./components/form-field";
@import "./components/learn-more";
